papers/
zim_notebook/
*.npz
single_lut_performance.jpg
.ipynb_checkpoints/
*.jpg
__pycache__
aiger
data
seminar/images/professorcat.jpg
seminar/images/sadcateyes.png
seminar/images/schmuser.png
seminar/Images
*.sty
*.aux
*.bbl
*.bcf
*.flg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.xml
*.snm
*.gz
*.toc
*.log
*.blg
*.isy
tmp_aig.aag
seminar/main.pdf
Lut Experiments.*
